:root {
	--primary: #383030;
	--secondary: #CF482A;
	--light: #aaaaaa;
	--background: #f6f6eb;
	--serif: source-han-serif-korean, 'Noto Serif KR', serif;
	--sans-serif: source-han-sans-korean, 'Noto Sans KR', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--sans-serif);
	color: var(--primary);
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
	border-top: 9px solid var(--secondary);
}

header, main, footer, .banner {
	display: grid;
	grid-template-columns: 
		minmax(.75em,1fr)
		repeat(12,minmax(.3em,1.4em))
		minmax(.75em,1fr)
		;
	grid-column-gap: 3%;
}

.logo, nav, .content, small, form, .projects-list, .posts-list {
	grid-column: 2 / span 12;
}

.banner-image {
	grid-column: 1 / span 14;
	max-height: 15em;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	margin: 1em 0;
}

p,
pre,
code {
	line-height: 1.7;
}

a[href],
a[href]:visited {
	color: var(--secondary);
	text-decoration: none;
	border-bottom: 3px solid;
}

a[href]:hover {
	border-bottom: none;
}

header a[href], header a[href]:visited {
	color: var(--secondary);
	text-decoration: none;
	border-bottom: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em 0;
}

.banner {
	background-position: center center;
	background-size: cover;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

.logo img {
	max-width: 3em;
	float: left;
	margin-top: 1em;
	margin-right: 1em;
}

/* Header Logo (style as h2) */
header em {
	display: block;
	font-size: smaller;
	margin: 1.4em 0 .5em;
	font-style: normal;
	font-weight: 400;
	font-family: var(--serif);
	color: var(--primary);
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .75em;
}

header nav li a[href] {
	text-decoration: none;
	font-size: smaller;
}

header nav li a[href]:hover, header nav li a[data-current="current item"] {
	border-bottom: 3px solid var(--secondary);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-family: var(--serif);
	color: var(--secondary);
}

h1, h2, h3 {
	font-size: 1.4em;
	margin-top: 1.5em;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

article img {
	padding: 1em 0;
}

.projects-list h3, .posts-list h3 {
	margin: .5em 0;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--background);
  border-radius: .1em;
  text-decoration: none;
	margin: 1em .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--background);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
	border: 1px solid var(--light);
}

button {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
}

button:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

footer {
	background: var(--secondary);
	color: var(--background);
	padding: 1.5em 0;
}

footer a[href], footer a[href]:visited {
	color: var(--background);
}

time {
	color: var(--light);
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.2rem;
	}

	.projects-list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 1.5em;
	}

	.projects-list {
		font-size: smaller;
	}

	.logo {
		grid-column: 2 / span 5;
	}

	nav {
		grid-column: 7 / span 7;
	}

}

@media screen and (min-width:992px) {
	:root {
		font-size: 1.4rem;
	}

	.projects-list {
		grid-template-columns: repeat(3,1fr);
	}

}
