:root {
	--primary: #58656b;
	--secondary: #CF482A;
	--light: #a0acaf;
	--background: #f5f4ee;
	--serif: ff-tisa-web-pro, serif;
	--serif-kr: source-han-serif-korean, serif;
	--sans-serif: ff-basic-gothic-pro, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--sans-serif);
	color: var(--primary);
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

.images {
	display: grid;
	text-align: center;
}

.images p { 
	grid-column: 1;
	grid-row: 1;
    opacity: 0;
	animation: imageAnimation 12s linear infinite 0s; 
	margin-top: 0;
}

.images p:nth-child(2) {
	animation-delay: 4s;
}

.images p:nth-child(3) {
	animation-delay: 8s;
}

.images img {
	height: 100vh;
	object-fit: contain;
	object-position: top center;
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    animation-timing-function: ease-out;
	}
	33% {
	    opacity: 1;
	}
	38% {
	    opacity: 0;
	}
	100% { opacity: 0 }
}

header, main, footer, .banner {
	display: grid;
	grid-template-columns: 
		minmax(.75em,1fr)
		repeat(12,minmax(.3em,2.4em))
		minmax(.75em,1fr)
		;
	grid-column-gap: 3%;
}

.title {
	grid-column: 2 / span 6;
}

.logo {
	grid-column: 8 / span 6;
	text-align: right;
}

nav, .images, .content, .post, .project, small, form, .projects-list, .posts-list, .shows-list {
	grid-column: 2 / span 12;
}

.banner-image {
	grid-column: 1 / span 14;
	max-height: 15em;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	margin: 1em 0;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--secondary);
	text-decoration: none;
	border-bottom: 3px solid;
}

a[href]:hover {
	border-bottom: none;
}

header a[href], header a[href]:visited {
	color: var(--primary);
	text-decoration: none;
	border-bottom: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em 0;
}

.banner {
	background-position: center center;
	background-size: cover;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

figure {
	margin: 1em 0 2em;
}

article figure img {
	padding-bottom: .5em;
}

figcaption {
	font-family: var(--serif);
	color: var(--light);
	font-style: italic;
}

.tags {
	margin: 2em 0;
}

.logo img {
	max-width: 2em;
	float: right;
	margin-top: .8em;
}

/* Header Logo (style as h2) */
header em {
	display: block;
	margin: 1em 0 .5em;
	font-style: normal;
	font-weight: 700;
	font-family: var(--serif);
}

header em span.kr {
	font-family: var(--serif);
}

header em span.sep {
	font-weight: 400;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
	font-family: var(--serif);
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .75em;
}

header nav li a[href] {
	text-decoration: none;
}

header nav li a[href]:hover, header nav li a[data-current="current item"] {
	border-bottom: 3px solid var(--secondary);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-family: var(--serif);
	color: var(--secondary);
}

h1, h2, h3 {
	font-size: 1.4em;
	margin-top: 1.5em;
}

h4 {
	font-family: var(--sans-serif);
	margin-top: 1.5em;
	margin-bottom: .5em;
	color: var(--light);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

article img {
	padding: 1em 0;
}

h3, .post h1 {
	margin: .5em 0;
}

.post, .project {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1.5em;
}

.post-nav, .project-nav {
	margin-top: 1.5em;
}

.post-meta, .post-body, .post-nav, .project-meta, .project-body, .project-nav {
	grid-column: span 3;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--background);
  border-radius: .1em;
  text-decoration: none;
	margin: 1em .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--background);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

input,
textarea {
	border: 1px solid var(--light);
}

button {
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
	cursor: pointer;
}

button:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

footer {
	background: var(--light);
	color: var(--background);
	padding: 1.5em 0;
}

footer a[href], footer a[href]:visited {
	
}

time {
	color: var(--light);
}

@media screen and (min-width:540px) {

	:root {
		font-size: 1.1rem;
	}

}

@media screen and (min-width:768px) {

	.projects-list, .shows-list {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 1.5em;
		font-size: smaller;
	}

	.title, nav, .logo {
		grid-row: 1;
	}

	.title {
		grid-column: 2 / span 4;
	}

	nav {
		grid-column: 6 / span 6;
	}

	.logo {
		grid-column: 12 / span 2;
	}

	.content {
		grid-column: 6 / span 8;
	}


	header nav ul {
	display: flex;
	justify-content: space-between;
	}

.post-meta, .project-meta {
	grid-column: span 1;
}

.post-body, .project-body {
	grid-column: span 2;	
}

}

@media screen and (min-width:992px) {
	:root {
		font-size: 1.2rem;
	}

	

}
