<div class="title">
  <a href="{{ '/' | url }}">
    <em>{{ metadata.title }} <span class="sep">|</span> <span class="kr">{{ metadata.title_kr }}</span></em>
  </a>
</div>

<div class="logo">
<img src="{{ metadata.logo }}" />
</div>

<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
