<section class="projects-list">
	{% for project in projectslist | reverse %}
		<article {% if project.url == url %} data-current="current item"{% endif %}>
			<img src="{{ project.data.thumbnail }}" />
			<h3>
				<a href="{{ project.url | url }}">
					{% if project.data.title %}
						{{ project.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if project.data.summary %}
				<p>
					{{ project.data.summary }}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
