<section class="work-list">
	{% for work in worklist | reverse %}
		<article {% if work.url == url %} data-current="current item"{% endif %}>
			<img src="{{ work.data.thumbnail }}" />
			<h3>
				<a href="{{ work.url | url }}">
					{% if work.data.title %}
						{{ work.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if work.data.summary %}
				<p>
					{{ work.data.summary }}
				</p>
			{% endif %}
			{% if work.data.tags %}
				<p>
					{% for tag in work.data.tags %}
		  			{%- if tag != "work" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
