---
layout: layouts/base.njk
section: exhibitions
permalink: /exhibitions/index.html
---

<h1>{{ title }}</h1>
{{ layoutContent | safe }}

{% set worklist = collections.exhibitions %}
{% include "components/exhibitions.njk" %}
