---
layout: layouts/base.njk
section: home
---

<div class="images">
    {% for image in images %}
        <img src="{{ image.imgSrc }}">
    {% endfor %}
</div>

<div class="content">
{{ layoutContent | safe }}
</div>