---
layout: layouts/base.njk
section: portfolio
permalink: /portfolio/index.html
---

{{ layoutContent | safe }}

{% set projectslist = collections.project %}
{% include "components/projectslist.njk" %}
