---
layout: layouts/base.njk
section: post
---

<article class="post">
  <div class="post-meta">
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>
  <h1>{{ title }}</h1>
  </div>

  <div class="post-body">
  {{ layoutContent | safe }}
  
  {% if tags %}
    <p class="tags">
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

  </div>

  <div class="post-nav">
  <a href="{{ '/news/' | url }}">← All Posts</a>
</div>

</article>


