---
layout: layouts/base.njk
section: show
---
<article class="post">
  <div class="post-meta">
  <h1>{{ title }}</h1>
  <p>{{ summary }}</p>
  </div>
  <div class="post-body">
  <img src="{{ thumbnail }}" />

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "show" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}
  </div>

  <div>
  <a href="{{ '/exhibitions/' | url }}">← All Shows</a>
</div>

</article>


